p, a{
	font-family: 'Merriweather', serif;
	color: #83848a;
}

h6, h5, h4, h3, h2 {
	font-weight: normal;
	font-family: 'Merriweather', serif;
}

.rowhome {
  display: flex;
  width:850px;
  margin: 15px auto;
}

.rowresume {
  display: flex;
  width:1000px;
  margin: 15px auto;
}