p, a, li{
	font-family: 'Merriweather', serif;
  text-decoration: none !important; /* no underline */
}

a:link, a:visited, a:hover, a:active {
  color: #11258a;
}

h6, h5, h4, h3, h2 {
	font-weight: normal;
	font-family: 'Merriweather', serif;
}

.rowhome {
  display: flex;
  width:850px;
  margin: 15px auto;
}

.rowresume {
  display: flex;
  flex-wrap: wrap;
  width:1000px;
  margin: 15px auto;
  overflow: hidden;
  padding: 10px;
}

.rowprojects {
  display: flex;
  width:1300px;
  margin: 15px auto;
}

.minirow {
  display: flex;
  flex-wrap: wrap;
  width:500px;  
}

.description .arrow:after {
  content: "\f078";
}
.description.collapsed .arrow:after {
  content: "\f054";
}  

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

